<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.gym.dao.IActivityDAO">
	<resultMap id="activity_DB_Result" type="activity">
		<result column="code" property="code" />
		<result column="title" property="title" />
		<result column="pic" property="pic" />
		<result column="adv_pic" property="advPic" />
		<result column="slogan" property="slogan" />
		
		<result column="amount" property="amount" />
		<result column="description" property="description" />
		<result column="hold_place" property="holdPlace" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="contact" property="contact" />
		<result column="total_num" property="totalNum" />
		<result column="remain_num" property="remainNum" />
		
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="updateDatetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>	
			<if test="holdPlace != null and holdPlace != '' ">
				AND t.hold_place = #{holdPlace}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>	
			<if test="startDatetime != null and startDatetime != '' ">
				<![CDATA[AND t.start_datetime >= #{startDatetime}]]>
			</if>
			<if test="endDatetime != null and endDatetime != '' ">
				<![CDATA[AND t.end_datetime <= #{endDatetime}]]>
			</if>
			<if test="title != null and title != '' ">
				AND t.title like "%"#{title}"%"
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_activity" parameterType="activity" resultMap="activity_DB_Result">
		SELECT
		t.code
		,t.title
		,t.pic
		,t.adv_pic
		,t.slogan
		
		,t.amount
		,t.description
		,t.hold_place
		,t.location
		,t.order_no
		
		,t.start_datetime
		,t.end_datetime
		,t.contact
		,t.total_num
		,t.remain_num
		
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tgym_activity t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>	
	</select>

	<select id="select_activity_count" parameterType="activity" resultType="java.lang.Long">
		SELECT count(1) FROM tgym_activity t 
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_activity" parameterType="activity">
		INSERT INTO tgym_activity(
		code
		,title
		,pic
		,adv_pic
		,slogan
		
		,amount
		,description
		,hold_place
		,contact
		,start_datetime
		
		,end_datetime
		,total_num
		,remain_num
		,status
		,updater
		
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{title}
		,#{pic}
		,#{advPic}
		,#{slogan}
		
		,#{amount}
		,#{description}
		,#{holdPlace}
		,#{contact}
		,#{startDatetime}
		
		,#{endDatetime}
		,#{totalNum}
		,#{remainNum}
		,#{status}
		,#{updater}
		
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<delete id="delete_activity" parameterType="activity">
		DELETE FROM tgym_activity
		WHERE code = #{code}
	</delete>
	
	<update id="update_activity" parameterType="activity">
		UPDATE tgym_activity SET
		title = #{title}
		,pic = #{pic}
		,adv_pic = #{advPic}
		,slogan = #{slogan}
		
		,amount = #{amount}
		,description = #{description}
		,hold_place = #{holdPlace}
		,contact = #{contact}
		,start_datetime = #{startDatetime}
		
		,end_datetime = #{endDatetime}
		,total_num = #{totalNum}
		,remain_num = #{remainNum}
		,updater = #{updater}
		
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOn" parameterType="activity">
		UPDATE tgym_activity SET
		status=#{status}
		,location =#{location}
		,order_no=#{orderNo}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_down" parameterType="activity">
		UPDATE tgym_activity SET
		status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>

	<update id="update_scan" parameterType="activity">
		UPDATE tgym_activity SET
		scan_num=#{scanNum}
		WHERE code = #{code}
	</update>
	
	<update id="update_sign" parameterType="activity">
		UPDATE tgym_activity SET
		sign_num=#{signNum}
		WHERE code = #{code}
	</update>
	
	<update id="update_auto" parameterType="activity">
		UPDATE tgym_activity SET
		status=#{status}
		WHERE code = #{code}
	</update>
</mapper>
