<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.gym.dao.IActivityOrderDAO">
	<resultMap id="activityOrder_DB_Result" type="activityOrder">
		<result column="code" property="code" />
		<result column="activity_code" property="activityCode" />
		<result column="activity_title" property="activityTitle" />
		<result column="quantity" property="quantity" />
		<result column="price" property="price" />
		
		<result column="amount" property="amount" />
		<result column="status" property="status" />
		<result column="pay_type" property="payType" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		
		<result column="pay_amount" property="payAmount" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="apply_user" property="applyUser" />
		<result column="mobile" property="mobile" />
		<result column="apply_datetime" property="applyDatetime" />
		
		<result column="apply_note" property="applyNote" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
        <result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>	
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>	
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="activityCode != null and activityCode != '' ">
				AND t.activity_code = #{activityCode}
			</if>
			<if test="activityTitle != null and activityTitle != '' ">
				AND t.activity_title like "%"#{activityTitle}#"%"
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="payBeginDatetime != null and payBeginDatetime != '' ">
				<![CDATA[AND t.pay_datetime >= #{payBeginDatetime}]]>
			</if>
			<if test="payEndDatetime != null and payEndDatetime != '' ">
				<![CDATA[AND t.pay_datetime <= #{payEndDatetime}]]>
			</if>
			<if test="createBeginDatetime != null and createBeginDatetime != '' ">
				<![CDATA[AND t.apply_datetime >= #{createBeginDatetime}]]>
			</if>	
			<if test="createEndDatetime != null and createEndDatetime != '' ">
				<![CDATA[AND t.apply_datetime <= #{createEndDatetime}]]>
			</if>	
			<if test="mobile != null and mobile != '' ">
				AND t.mobile like "%"#{mobile}"%"
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	<select id="select_activityOrder" parameterType="activityOrder" resultMap="activityOrder_DB_Result">
		SELECT	
		t.code
		,t.activity_code
		,t.activity_title
		,t.quantity
		,t.price
		
		,t.amount
		,t.status
		,t.pay_type
		,t.pay_group
		,t.pay_code
		
		,t.pay_amount
		,t.pay_datetime
		,t.apply_user
		,t.mobile
		,t.apply_datetime
		
		,t.apply_note
		,t.updater
		,t.update_datetime
        ,t.remark
		FROM
		tgym_activity_order t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>	
	</select>

	<select id="select_activityOrder_count" parameterType="activityOrder" resultType="java.lang.Long">
		SELECT count(1) FROM tgym_activity_order t 
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_activityOrder" parameterType="activityOrder">
		INSERT INTO tgym_activity_order(
		code
		,activity_code,
		,activity_title
		,quantity
		,price
		
		,amount
		,status
		,apply_user
		,mobile
		,apply_datetime
		
		,apply_note
		)
		VALUES(
		#{code}
		,#{activityCode}
		,#{activityTitle}
		,#{quantity}
		,#{price}
		
		,#{amount}
		,#{status}
		,#{applyUser}
		,#{mobile}
		,#{applyDatetime}
		
		,#{applyNote}
		)
	</insert>
	
	<update id="update_payGroup" parameterType="activityOrder">
		UPDATE tgym_activity_order SET
		pay_group=#{payGroup}
		WHERE code = #{code}
	</update>
	
	<update id="update_orderPay" parameterType="activityOrder">
		UPDATE tgym_activity_order SET
		status=#{status}
		,pay_code=#{payCode}
		,pay_amount=#{payAmount}
		,pay_datetime=#{payDatetime}
		WHERE code = #{code}
	</update>

	<delete id="delete_activityOrder" parameterType="activityOrder">
		DELETE FROM tgym_activity_order
		WHERE code = #{code}
	</delete>
	
	<update id="update_cancel" parameterType="activityOrder">
		UPDATE tgym_activity_order SET
		status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_auto" parameterType="activityOrder">
		UPDATE tgym_activity_order SET
		status=#{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_apply_refund" parameterType="activityOrder">
		UPDATE tgym_activity_order SET
		status=#{status}
		,apply_user=#{applyUser}
		,apply_datetime=#{applyDatetime}
		,apply_note=#{applyNote}
		WHERE code = #{code}
	</update>
</mapper>
