<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.gym.dao.ICoachDAO">
	<resultMap id="coach_DB_Result" type="coach">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="pic" property="pic" />
		<result column="gender" property="gender" />
		<result column="age" property="age" />
		<result column="duration" property="duration" />
		<result column="adv_pic" property="advPic" />
		<result column="description" property="description" />
		<result column="star" property="star" />
		<result column="star_num" property="starNum" />
		<result column="label" property="label" />
		<result column="sum_com" property="sumCom" />
		<result column="status" property="status" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="star != null and star != '' ">
				AND t.star = #{star}
			</if>
			<if test="label != null and label != '' ">
				AND t.label like "%"#{label}#"%"
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
		</trim>
	</sql>
	<select id="select_coach" parameterType="coach" resultMap="coach_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.real_name
		,t.pic
		,t.gender
		,t.age
		,t.duration
		,t.adv_pic
		,t.description
		,t.star
		,t.star_num
		,t.label
		,t.sum_com
		,t.status
		,t.approver
		,t.approve_datetime
		,t.remark
		FROM
		tgym_coach t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_coach_count" parameterType="coach"
		resultType="java.lang.Long">
		SELECT count(1) FROM tgym_coach t
		<include refid="where_condition" />
	</select>

	<select id="select_coach_sx" parameterType="coach" resultMap="coach_DB_Result">
		SELECT 
		t.code
		,t.user_id
		,t.real_name
		,t.pic
		,t.gender
		,t.age
		,t.duration
		,t.adv_pic
		,t.description
		,t.star
		,t.star_num
		,t.label
		,t.sum_com
		,t.status
		,t.approver
		,t.approve_datetime
		,t.remark
		FROM
		tgym_coach t RIGHT JOIN (SELECT * FROM tgym_coach tc ,(SELECT DISTINCT(tpc.coach_code) AS ocode
		FROM tgym_per_course tpc where tpc.sk_cycle = #{skCycle})  tp
		WHERE tc.code=tp.ocode) tt ON t.code=tt.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_coach_sx_count" parameterType="coach"
		resultType="java.lang.Long">
		SELECT COUNT(1) FROM  tgym_coach t RIGHT JOIN (SELECT * FROM tgym_coach tc
		,(SELECT DISTINCT(tpc.coach_code) AS ocode FROM tgym_per_course tpc <include refid="where_condition" />)  tp
		WHERE tc.code=tp.ocode) tt ON t.code=tt.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_coach" parameterType="coach">
		INSERT INTO
		tgym_coach(
		code
		,user_id
		,real_name
		,pic
		,gender
		,age
		,duration
		,adv_pic
		,description
		,star
		,star_num
		,label
		,sum_com
		,status
		)
		VALUES(
		#{code}
		,#{userId}
		,#{realName}
		,#{pic}
		,#{gender}
		,#{age}
		,#{duration}
		,#{advPic}
		,#{description}
		,#{star}
		,#{starNum}
		,#{label}
		,#{sumCom}
		,#{status}
		)
	</insert>

	<update id="update_coach" parameterType="coach">
		UPDATE tgym_coach
		SET
		real_name = #{realName}
		,pic = #{pic}
		,gender = #{gender}
		,age = #{age}
		,duration = #{duration}
		,adv_pic = #{advPic}
		,description = #{description}
		,label = #{label}
		WHERE code = #{code}
	</update>

	<update id="update_approveCoach" parameterType="coach">
		UPDATE tgym_coach
		SET
		status=#{status}
		,approver=#{approver}
		,approve_datetime=#{approveDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_star" parameterType="coach">
		UPDATE tgym_coach
		SET
		star=#{star}
		,star_num=#{starNum}
		,sum_com=#{sumCom}
		WHERE code = #{code}
	</update>
</mapper>