<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.gym.dao.ICoachDAO">
	<resultMap id="coach_DB_Result" type="coach">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="age" property="age" />
		<result column="duration" property="duration" />
		<result column="strengths" property="strengths" />
		<result column="adv_pic" property="advPic" />
		<result column="description" property="description" />
		<result column="star" property="star" />
		<result column="label" property="label" />
		<result column="status" property="status" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_coach" parameterType="coach" resultMap="coach_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.age
		,t.duration
		,t.strengths
		,t.adv_pic
		,t.description
		,t.star
		,t.label
		,t.status
		,t.approver
		,t.approve_datetime
		,t.remark
		FROM
		tgym_coach t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_coach_count" parameterType="coach"
		resultType="java.lang.Long">
		SELECT count(1) FROM tgym_coach t
		<include refid="where_condition" />
	</select>

	<insert id="insert_coach" parameterType="coach">
		INSERT INTO
		tgym_coach(
		code
		,user_id
		,age
		,duration
		,strengths
		,adv_pic
		,description
		,star
		,label
		,status
		,approver
		,approve_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{userId}
		,#{age}
		,#{duration}
		,#{strengths}
		,#{advPic}
		,#{description}
		,#{star}
		,#{label}
		,#{status}
		,#{approver}
		,#{approveDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_coach" parameterType="coach">
		UPDATE tgym_coach
		SET
		user_id = #{userId}
		,age = #{age}
		,duration = #{duration}
		,strengths = #{strengths}
		,adv_pic = #{advPic}
		,description = #{description}
		,star = #{star}
		,label = #{label}
		WHERE code = #{code}
	</update>


</mapper>