<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.gym.dao.ICoachDAO">
	<resultMap id="coach_DB_Result" type="coach">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="pic" property="pic" />
		
		<result column="pdf" property="pdf" />
		<result column="gender" property="gender" />
		<result column="age" property="age" />
		<result column="duration" property="duration" />
		<result column="adv_pic" property="advPic" />
		
		<result column="description" property="description" />
		<result column="star" property="star" />
		<result column="star_num" property="starNum" />
		<result column="label" property="label" />
		<result column="province" property="province" />
		
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="teach_num" property="teachNum" />
		<result column="location" property="location" />
		
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		<result column="sum_com" property="sumCom" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		
		<result column="remark" property="remark" />
		<result column="uStatus" property="uStatus" />
		<result column="login_name" property="loginName" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="star != null and star != '' ">
				AND t.star = #{star}
			</if>
			<if test="label != null and label != '' ">
				AND t.label like "%"#{label}#"%"
			</if>
			<if test="province != null and province != '' ">
				AND t.province like "%"#{province}#"%"
			</if>
			<if test="city != null and city != '' ">
				AND t.city like "%"#{city}#"%"
			</if>
			<if test="area != null and area != '' ">
				AND t.area in ("%"#{area}"%" or '%全部%')
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="mobile != null and mobile != '' ">
				AND tu.mobile like "%"#{mobile}"%"
			</if>
			<if test="uStatus != null and uStatus != '' ">
				AND tu.uStatus = #{uStatus}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
		</trim>
	</sql>
	<sql id="where_tcp_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="skCycle != null and skCycle != '' ">
				AND tpc.sk_cycle = #{skCycle}
			</if>
		</trim>
	</sql>
	<select id="select_coach" parameterType="coach" resultMap="coach_DB_Result">
		SELECT
		t.code
		,t.type
		,t.user_id
		,t.real_name
		,t.pic
		,t.gender
		
		,t.age
		,t.pdf
		,t.duration
		,t.province
		,t.city
		
		,t.area
		,t.address
		,t.adv_pic
		,t.description
		,t.star
		
		,t.teach_num
		,t.star_num
		,t.label
		,t.sum_com
		,t.location
		
		,t.order_no
		,t.status
		,t.approver
		,t.approve_datetime
		,t.remark
		
		,tu.mobile
		,tu.status as uStatus
		,tu.login_name
		FROM
		tgym_coach t left join ${userDB}.tstd_user tu on t.user_id=tu.user_id  
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_coach_count" parameterType="coach"
		resultType="java.lang.Long">
		SELECT count(1) FROM tgym_coach t left join ${userDB}.tstd_user tu on t.user_id=tu.user_id  
		<include refid="where_condition" />
	</select>

	<select id="select_coach_sx" parameterType="coach" resultMap="coach_DB_Result">
		SELECT 
		t.code
		,t.type
		,t.user_id
		,t.real_name
		,t.pic
		
		,t.gender
		,t.age
		,t.pdf
		,t.duration
		,t.province
		
		,t.city
		,t.area
		,t.address
		,t.adv_pic
		,t.description
		
		,t.teach_num
		,t.star
		,t.star_num
		,t.label
		,t.sum_com
		
		,t.location
		,t.order_no
		,t.status
		,t.approver
		,t.approve_datetime
		
		,t.remark
		FROM
		tgym_coach t RIGHT JOIN (SELECT * FROM tgym_coach tc ,(SELECT DISTINCT(tpc.coach_code) AS ocode
		FROM tgym_per_course tpc <include refid="where_tcp_condition" />)  tp
		where tc.code=tp.ocode) tt ON t.code=tt.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>


	<insert id="insert_coach" parameterType="coach">
		INSERT INTO
		tgym_coach(
		code
		,type
		,user_id
		,real_name
		,pic
		
		,gender
		,age
		,pdf
		,duration
		,province
		
		,city
		,area
		,address
		,adv_pic
		,description
		
		,star
		,star_num
		,label
		,sum_com
		,location
		
		,teach_num
		,order_no
		,status
		)
		VALUES(
		#{code}
		,#{type}
		,#{userId}
		,#{realName}
		,#{pic}
		
		,#{gender}
		,#{age}
		,#{pdf}
		,#{duration}
		,#{province}
		
		,#{city}
		,#{area}
		,#{address}
		,#{advPic}
		,#{description}
		
		,#{star}
		,#{starNum}
		,#{label}
		,#{sumCom}
		,#{location}
		
		,#{teachNum}
		,#{orderNo}
		,#{status}
		)
	</insert>

	<update id="update_coach" parameterType="coach">
		UPDATE tgym_coach
		SET
		real_name = #{realName}
		,pic = #{pic}
		,gender = #{gender}
		,age = #{age}
		,pdf = #{pdf}
		
		,duration = #{duration}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		
		,adv_pic = #{advPic}
		,description = #{description}
		,label = #{label}
		,status = #{status}
		WHERE code = #{code}
	</update>

	<update id="update_approveCoach" parameterType="coach">
		UPDATE tgym_coach
		SET
		status=#{status}
		,approver=#{approver}
		,approve_datetime=#{approveDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_star" parameterType="coach">
		UPDATE tgym_coach
		SET
		star=#{star}
		,star_num=#{starNum}
		,sum_com=#{sumCom}
		WHERE code = #{code}
	</update>
	
	<update id="update_location" parameterType="coach">
		UPDATE tgym_coach
		SET
		status=#{status}
		,location=#{location}
		,order_no=#{orderNo}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOff" parameterType="coach">
		UPDATE tgym_coach
		SET
		status=#{status}
		WHERE code = #{code}
	</update>
	<update id="update_teachNum" parameterType="coach">
		UPDATE tgym_coach
		SET
		teach_num=#{teachNum}
		WHERE code = #{code}
	</update>
</mapper>