<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.gym.dao.ICommentDAO">
	<resultMap id="comment_DB_Result" type="comment">
		<result column="code" property="code" />
		<result column="is_praise" property="isPraise" />
		<result column="scores" property="scores" />
		<result column="content" property="content" />
		<result column="status" property="status" />
		<result column="commer" property="commer" />
		<result column="comment_datetime" property="commentDatetime" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="product_code" property="productCode" />
		<result column="order_code" property="orderCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_comment" parameterType="comment" resultMap="comment_DB_Result">
		SELECT
		t.code
		,t.is_praise
		,t.scores
		,t.content
		,t.status
		,t.commer
		,t.comment_datetime
		,t.updater
		,t.update_datetime
		,t.remark
		,t.product_code
		,t.order_code
		FROM
		tgym_comment t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_comment_count" parameterType="comment"
		resultType="java.lang.Long">
		SELECT count(1) FROM tgym_comment t
		<include refid="where_condition" />
	</select>

	<insert id="insert_comment" parameterType="comment">
		INSERT INTO
		tgym_comment(
		code
		,is_praise
		,scores
		,content
		,status
		,commer
		,comment_datetime
		,updater
		,update_datetime
		,remark
		,product_code
		,order_code
		)
		VALUES(
		#{code}
		,#{isPraise}
		,#{scores}
		,#{content}
		,#{status}
		,#{commer}
		,#{commentDatetime}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{productCode}
		,#{orderCode}
		)
	</insert>

	<update id="update_comment" parameterType="comment">
		UPDATE tgym_comment
		SET
		is_praise = #{isPraise}
		,scores = #{scores}
		,content = #{content}
		,status = #{status}
		,commer = #{commer}
		,comment_datetime = #{commentDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,product_code = #{productCode}
		,order_code = #{orderCode}
		WHERE code = #{code}
	</update>


</mapper>