<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.gym.dao.IPerCourseOrderDAO">
	<resultMap id="perCourseOrder_DB_Result" type="perCourseOrder">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="to_user" property="toUser" />
		<result column="per_course_code" property="perCourseCode" />
		<result column="course_name" property="courseName" />
		<result column="appoint_datetime" property="appointDatetime" />
		<result column="sk_datetime" property="skDatetime" />
		<result column="xk_datetime" property="xkDatetime" />
		<result column="address" property="address" />
		<result column="quantity" property="quantity" />
		<result column="price" property="price" />
		<result column="amount" property="amount" />
		<result column="pre_status" property="preStatus" />
		<result column="status" property="status" />
		<result column="sk_start_datetime" property="skStartDatetime" />
		<result column="sk_end_datetime" property="skEndDatetime" />
		<result column="pay_type" property="payType" />
		<result column="pay_amount" property="payAmount" />
		<result column="penalty" property="penalty" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_code" property="payCode" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="apply_user" property="applyUser" />
		<result column="mobile" property="mobile" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="apply_note" property="applyNote" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="appointDatetime != null and appointDatetime != '' ">
				AND t.appoint_datetime = #{appointDatetime}
			</if>
			<if test="isSend != null and isSend != '' ">
				AND t.is_send = #{isSend}
			</if>
			<if test="appointBeginDatetime != null and appointBeginDatetime != '' ">
				<![CDATA[AND t.appoint_datetime >= #{appointBeginDatetime}]]>
			</if>	
			<if test="appointEndDatetime != null and appointEndDatetime != '' ">
				<![CDATA[AND t.appoint_datetime <= #{appointEndDatetime}]]>
			</if>	
			<if test="applyBeginDatetime != null and applyBeginDatetime != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyBeginDatetime}]]>
			</if>	
			<if test="skDatetime != null and skDatetime != '' ">
				AND t.sk_datetime = #{skDatetime}
			</if>
			<if test="xkDatetime != null and xkDatetime != '' ">
				AND t.xk_datetime = #{xkDatetime}
			</if>
			<if test="perCourseCode != null and perCourseCode != '' ">
				AND t.per_course_code = #{perCourseCode}
			</if>
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>
			<if test="toUser != null and toUser != '' ">
				AND t.to_user = #{toUser}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="mobile != null and mobile != '' ">
				AND t.mobile like "%"#{mobile}"%"
			</if>
			<if test="courseName != null and courseName != '' ">
				AND t.course_name = #{courseName}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="skEndDatetime != null and skEndDatetime != '' ">
				<![CDATA[AND t.sk_end_datetime <= #{skEndDatetime}]]>
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	<select id="select_perCourseOrder" parameterType="perCourseOrder" resultMap="perCourseOrder_DB_Result">
		SELECT
		t.code
		,t.type
		,t.to_user
		,t.per_course_code
		,t.course_name
		,t.appoint_datetime
		,t.sk_datetime
		,t.xk_datetime
		,t.address
		,t.quantity
		,t.price
		,t.amount
		,t.pre_status
		,t.status
		,t.sk_start_datetime
		,t.sk_end_datetime
		,t.pay_type
		,t.pay_amount
		,t.penalty
		,t.pay_group
		,t.pay_code
		,t.pay_datetime
		,t.apply_user
		,t.mobile
		,t.apply_datetime
		,t.apply_note
		,t.updater
		,t.update_datetime
		,t.remark
		,t.is_send
		FROM
		tgym_per_course_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_perCourseOrder_count" parameterType="perCourseOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tgym_per_course_order t
		<include refid="where_condition" />
	</select>

	<insert id="insert_perCourseOrder" parameterType="perCourseOrder">
		INSERT INTO
		tgym_per_course_order(
		code
		,type
		,to_user
		,per_course_code
		,course_name
		,appoint_datetime
		,sk_datetime
		,xk_datetime
		,address
		,quantity
		,price
		,amount
		,status
		,apply_user
		,mobile
		,apply_datetime
		,apply_note
		,is_send
		)
		VALUES(
		#{code}
		,#{type}
		,#{toUser}
		,#{perCourseCode}
		,#{courseName}
		,#{appointDatetime}
		,#{skDatetime}
		,#{xkDatetime}
		,#{address}
		,#{quantity}
		,#{price}
		,#{amount}
		,#{status}
		,#{applyUser}
		,#{mobile}
		,#{applyDatetime}
		,#{applyNote}
		,#{isSend}
		)
	</insert>

	<update id="update_payGroup" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		pay_group = #{payGroup}
		WHERE code = #{code}
	</update>

	<update id="update_paySuccess" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		status = #{status}
		,pay_type = #{payType}
		,pay_amount = #{payAmount}
		,pay_code = #{payCode}
		,pay_datetime = #{payDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_receiverOrder" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		status = #{status}
		,penalty = #{penalty}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_userCancelOrder" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		pre_status = #{preStatus}
		,status = #{status}
		,penalty = #{penalty}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_platCancelOrder" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		pre_status = #{preStatus}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_skClassDatetime" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		status = #{status}
		,sk_start_datetime = #{skStartDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_xkClassDatetime" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		status = #{status}
		,sk_end_datetime = #{skEndDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_finishOver" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_isSend" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		is_send = #{isSend}
		WHERE code = #{code}
	</update>
	
	<update id="update_perCourseOrder" parameterType="perCourseOrder">
		UPDATE tgym_per_course_order
		SET
		per_course_code = #{perCourseCode}
		,course_name = #{courseName}
		,appoint_datetime = #{appointDatetime}
		,address = #{address}
		,quantity = #{quantity}
		,price = #{price}
		,amount = #{amount}
		,status = #{status}
		,sk_start_datetime = #{skStartDatetime}
		,sk_end_datetime = #{skEndDatetime}
		,pay_type = #{payType}
		,pay_amount = #{payAmount}
		,pay_group = #{payGroup}
		,pay_code = #{payCode}
		,pay_datetime = #{payDatetime}
		,apply_user = #{applyUser}
		,mobile = #{mobile}
		,apply_datetime = #{applyDatetime}
		,apply_note = #{applyNote}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>