<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 分页BO层注入paginableDao -->
	<bean id="activityBO" class="com.std.gym.bo.impl.ActivityBOImpl">
		<property name="paginableDAO" ref="activityDAOImpl"/>
	</bean>	
	<bean id="activityOrderBO" class="com.std.gym.bo.impl.ActivityOrderBOImpl">
		<property name="paginableDAO" ref="activityOrderDAOImpl"/>
    </bean>	
	
	<bean id="attendBO" class="com.std.gym.bo.impl.AttendBOImpl">
		<property name="paginableDAO" ref="attendDAOImpl"/>
	</bean>	
	<bean id="voteBO" class="com.std.gym.bo.impl.VoteBOImpl">
		<property name="paginableDAO" ref="voteDAOImpl"/>
    </bean>	
    
	<bean id="coachBO" class="com.std.gym.bo.impl.CoachBOImpl">
		<property name="paginableDAO" ref="coachDAOImpl" />
	</bean>
	<bean id="commentBO" class="com.std.gym.bo.impl.CommentBOImpl">
		<property name="paginableDAO" ref="commentDAOImpl" />
	</bean>
	<bean id="keywordBO" class="com.std.gym.bo.impl.KeywordBOImpl">
		<property name="paginableDAO" ref="keywordDAOImpl" />
	</bean>
	
	
	<bean id="orgCourseBO" class="com.std.gym.bo.impl.OrgCourseBOImpl">
		<property name="paginableDAO" ref="orgCourseDAOImpl" />
	</bean>
	<bean id="orgCourseOrderBO" class="com.std.gym.bo.impl.OrgCourseOrderBOImpl">
		<property name="paginableDAO" ref="orgCourseOrderDAOImpl" />
	</bean>
	
	<bean id="perCourseBO" class="com.std.gym.bo.impl.PerCourseBOImpl">
		<property name="paginableDAO" ref="perCourseDAOImpl" />
	</bean>
	<bean id="perCourseOrderBO" class="com.std.gym.bo.impl.PerCourseOrderBOImpl">
		<property name="paginableDAO" ref="perCourseOrderDAOImpl" />
	</bean>
	<bean id="sizeDataBO" class="com.std.gym.bo.impl.SizeDataBOImpl">
		<property name="paginableDAO" ref="sizeDataDAOImpl" />
	</bean>
	
	<bean id="itemScoreBO" class="com.std.gym.bo.impl.ItemScoreBOImpl">
		<property name="paginableDAO" ref="itemScoreDAOImpl" />
	</bean>
	
	<bean id="sysDictBO" class="com.std.gym.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl" />
	</bean>
	<bean id="sysConfigBO" class="com.std.gym.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl" />
	</bean>
	
	
	 
	
</beans>
